{#
/**
 * @file
 * Foo Template.
 *
 * Available variables:
 * - header: The header value
 * - text: Plain text
 *
 * @see template_preprocess_paragraph__foo().
 *
 * @ingroup themeable
 */
#}
<div class="foo">
  <h2 class="foo-header">{{ header }}</h2>
  <div class="foo_text">
    <p>{{ text }}</p>
  </div>
</div>
